* /*paramètres généraux*/
{
    font-family: 'Raleway', sans-serif;  
}
.fas /*couleur des icones*/
{
    color: #0065FC;
}

.logo /*image logo*/
{
    width: 150px;
    height: 100px;
    float: left;
}
.flottant
{
    clear: both;
}
.nav
{
    display: flex;
}

.filttres
{
    display: flex; 
    
}

.main /*block qui contient article&aside*/
{
    display: flex;
   flex-wrap: wrap; 
}

.article
{
   width: 40px;
}

.hebergements /*bloc qui controle les images de hébergements*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: 20px;
    background-color: palevioletred;
}
.img /*taille des images hebergements*/
{
    width: 220px;
    height: 150px;
    border-radius: 5px;
}
.images /*taille grosses images dans activités*/
{
    width: 250px;
    height: 300px;
}

.activites /*block qui controle les images de activités*/
{
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.aside
{
    
}

.populaires /*block de populaires*/
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    align-items: center;
    background-color: salmon;  
}

.pop /* taille images populaires*/
{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

#plus/*div entre footer et chaque*/
{
    display: flex;
    justify-content: space-around;
    align-items: baseline ;
}
