* /*paramètres généraux*/
{
    font-family: 'Raleway', sans-serif;  
}
.fas /*couleur des icones*/
{
    color: #0065FC;
}

.hbg
{
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    margin-bottom: 25px;
}

header
{
  display: flex;
  justify-content: space-between;
}
a{
    margin-right: 50px;
    padding-top: 50px;

}
.logo
{
    width: 150px;
}

.nav
{
 margin-top: 30px;
 
}


h1{
    font-size: 20px;
}

p{
 margin-left: 5px;
}

.button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: blue;
}
.filtres
{
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: initial;
}

main
{
    display: flex;
    justify-content: space-around;
}
section
{
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
}

.hebergements
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img
{
    width: 210px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

aside
{
   width: 31%;
   background-color: #F2F2F2;
   border-radius: 15px 15px 15px 15px;
   margin-bottom: 30px;
}
.pop /* images section populaire*/
{
    display: flex;
    width: 150px;
    height: 130px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: left;
    align-content: space-between;
    margin-right: 20px;
}

.populaires /*boite "Les plus populaires"*/
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


sub{
    font-size: 13px;
}

.popu /* images des populaires*/
{
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 35px;
    
}


.activites
{
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
    margin-bottom: 25px;
}

.images
{
    width: 250px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   

}
.act{
    border-radius: 20px;
    box-shadow: 6px 6px 0px #F2F2F2;
    margin: auto;
}

.deux
{
    display: flex;
    flex-direction: column;
}

h3{
    margin-left: 40px;
    margin-top: 20px;
}

#plus
{
    display: flex;
    justify-content: space-between;
    background-color:  #F2F2F2;
}
.titre{
    margin-right: 200px;
}
ul{
    list-style-type: none;
}
