* /*paramètres généraux*/
{
    font-family: 'Raleway', sans-serif;  
}
.fas /*couleur des icones*/
{
    color: #0065FC;
}
.h2{
    font-size: small;
}
.hbg
{
    background-color: white;
    padding: 4px;
    border-radius: 20px;
}

.header
{

    background-image:url("images/Logo_Reservia.png")
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top :left; /* Le fond sera placé en haut à droite */
}
.logo
{
    width: 150px;
    height: 100px;
    
}
#ancres
{
    display: flex;
    justify-content: space-between;

}
.nav
{
    display: flex;
    justify-content: space-between ;
    width: auto;
    
}

.filtres
{
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}
.filtre{

}

.main
{
   display: flex;
   flex-wrap: wrap;
}
.section
{
    width: 15%;
}
.aside{
    width: 20%;
}

.hebergements /*boite "hébergements à marseille"*/
{
    display: flex;
    flex-wrap: wrap;
}
.populaires /*boite "Les plus populaires"*/
{
    display: flex;
    flex-direction: column;
    
    
}


.img
{
    width: 210px;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pop /* images section populaire*/
{
    display: flex;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: left;
    align-content: space-between;
}



.popu /*1er image des populaires*/
{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}


.activites
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    padding: 20px;
    border-radius: 30px;
}

.images
{
    width: 250px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.act{
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 0px #F2F2F2;
    margin: auto;
}

.deux
{
    display: flex;
    flex-direction: column;
}


#plus
{
    display: flex;
    justify-content: space-around;
    background-color:  #F2F2F2;
}

